.abs {
  position: absolute;
  &.fill{
    top: 0px;
    left: 0px; 
    right: 0px;
    left: 0px;
  }
}

.abc{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
}

.s30 {
  font-size: 30px;
}
body{   
  height: 100vh;
  background-color: #ece5dd;
}

.fixed {
  position: fixed;
  &.fill{
    top: 0px;
    left: 0px; 
    right: 0px;
    left: 0px;
  }
}
.flex {
  display: flex;
  flex-direction:row;
  &.aic{
    align-items: center;
    gap:20px
  }
}

.b {
  font-weight: 700;
}
.s16 {
  font-size: 16px;
}
.t15 {
  font-size:15px
}

.c777 {
  color: #777;
}

